body {
  background-color: lightgray;
}

.container {
  margin: 50px 0px 50px 0px;
  width: 100%;
  background-color: white;
}

.social {
  margin: 5px 20px 5px 20px;
  height: 100px;
  width: 100px;
}

.losange, .losange div {
  margin: 50px 20px 50px 20px;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.losange {
  margin: 50px;
  transform: rotate(45deg) translateY(0px);
}
.losange .los1 {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
}
.losange .los1 img {
  width: 100%;
  height: auto;
}

p {
  margin: 50px 5px 5px 75px;
} 

.carousel-inner {
height: 500px;
}

img {
  height: 500px;
}

.email {
  margin: 20px 10px 5px 10px;
  height: 100px;
  width: 200px;
}

.phone {
  margin: 20px 10px 5px 10px;
  height: 100px;
  width: 200px;
}

h5 {
  color: black;
}

.carousel-caption {
  color: black;
}

.containerthree {
  margin: 50px  0px 50px 0px;
  background-color: white;
  width: 100%;
  
}