body {
  background-color: blanchedalmond;
}

.container {
  margin: 50px 50px 50px 50px;
}

img {
width: 300px;
height: 350px;
}

p {
  margin: 50px 5px 5px 5px;
} 

.carousel-caption {
  color: black;
}

.contaiertwo {

  
}